.Header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 65px;
  background-color: rgb(41, 76, 122);
}

img {
  width: 120px;
  margin: 30px;
}